<footer class="footer">
  <small>
    The <%= link_to 'rails tutorial', 'http://railstutorial.org' %> by michael hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contacts", '#' %></li>
      <li><%= link_to 'News', 'railstutorial.org' %></li>
    </ul>
  </nav>
</footer>
